@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@400&display=swap');

/* reset all css*/

li {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*set colors*/

:root {
    --color-base: #E6E4DF;
    --color-white: #ffffff;
    --color-gray: #807F7C;
    --color-black: #403F3E;
}


/* set fonts*/

h1 {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: .5em;
}

#modes>.container>h1 {
    margin-top: 1.2em;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 0.8em;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

p,
li,
label,
input,
button {
    font-family: 'Roboto', sans-serif;
}


/* global element*/

body {
    background-color: var(--color-white);
}

.container {
    width: 400px;
    padding: 10px;
    margin: 0 auto;
}


/* header */

header {
    background-color: var(--color-white);
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#nav-bar>ul {
    display: flex;
    flex-direction: column;
}

#nav-bar>ul>li {
    font-size: 80%;
    padding: 3px;
}


/*top-wrapper*/

.top-wrapper {
    width: 100%;
    height: 280px;
    background-image: url(./balmudatoast.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/*Modes*/

.bread-mode {
    margin-bottom: 1.2em;
}

.mode {
    background-color: var(--color-white);
    opacity: 80%;
    padding: 1.5em 1em 1.5em 1.5em;
    border: solid 1px var(--color-gray);
}


/*Features*/

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*contact*/

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.2em;
    padding: 3px 0;
}

input,
button {
    font-size: inherit;
    line-height: 2rem;
    border: solid 1px var(--color-gray);
}

button {
    width: 30%;
    margin: 1rem 0;
    padding: .2rem;
    background-color: var(--color-white);
    border: solid 1px var(--color-gray);
}

button:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    border: solid 1px var(--color-black);
}

::placeholder {
    background-color: var(--color-white);
    padding: .5rem;
}


/*aside*/

aside {
    background-color: var(--color-gray);
}

aside>.container {
    width: 50%;
    padding: 1.5em 0;
}

aside>.container>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*For tablet*/

@media only screen and (min-width:600px) {
    .container {
        width: 500px;
        padding: 20px;
    }
    header {
        background-color: pink;
        padding: 10px 20px;
    }
    #nav-bar>ul {
        flex-direction: row;
    }
    #nav-bar>ul>li {
        font-size: 100%;
        padding: 10px;
    }
    .top-wrapper {
        height: 350px;
    }
    .mode>p {
        line-height: 2em;
    }
}


/*For desktop */

@media only screen and (min-width:768px) {
    .container {
        width: 700px;
        padding: 20px;
    }
    header {
        background-color: black;
    }
    #nav-bar>ul>li {
        padding: 20px;
    }
    .top-wrapper {
        height: 400px;
    }
    .five-modes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .bread-mode {
        width: 320px;
    }
    button {
        width: 20%;
    }
}


/*For larger desktop */

@media only screen and (min-width:992px) {
    .container {
        width: 900px;
        padding: 20px;
    }
    header {
        background-color: blue;
        justify-content: space-around;
    }
    #nav-bar>ul>li {
        padding: 20px;
    }
    .top-wrapper {
        height: 600px;
    }
    .bread-mode {
        width: 420px;
    }
    .mode>p {
        font-size: 1.13em;
    }
    input {
        width: 80%;
    }
    .form-group {
        margin-bottom: .8rem;
    }
    button {
        width: 28%;
    }
}