@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@600&display=swap');

/* reset all css*/

li {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*set colors*/

:root {
    --color-base: #D9CDBF;
    --color-white: #F2F2F0;
}


/* set fonts*/

h1 {
    font-family: 'Work Sans', sans-serif;
}

h2 {
    font-family: 'Work Sans', sans-serif;
}

h3 {
    font-family: 'Work Sans', sans-serif;
}

p,
li {
    font-family: 'Roboto', sans-serif;
}


/* global element*/

body {
    background-color: var(--color-base);
}

.container {
    width: 400px;
    padding: 10px;
}


/* header */

header {
    background-color: var(--color-white);
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-bar>ul {
    display: flex;
    flex-direction: column;
}

#nav-bar>ul>li {
    font-size: 80%;
    padding: 3px;
}


/*For tablet*/

@media only screen and (min-width:600px) {
    .container {
        width: 500px;
        padding: 20px;
    }
    header {
        background-color: pink;
        padding: 10px 20px;
    }
    #nav-bar>ul {
        flex-direction: row;
    }
    #nav-bar>ul>li {
        font-size: 100%;
        padding: 10px;
    }
}


/*For desktop */

@media only screen and (min-width:768px) {
    .container {
        width: 700px;
        padding: 20px;
    }
    header {
        background-color: black;
    }
    #nav-bar>ul>li {
        padding: 20px;
    }
}


/*For larger desktop */

@media only screen and (min-width:992px) {
    .container {
        width: 900px;
        padding: 20px;
    }
    header {
        background-color: blue;
        justify-content: space-around;
    }
    #nav-bar>ul>li {
        padding: 20px;
    }
}